.Navbar{
    background: black;
    color: white;
    display: flex;
    padding: 1rem;
    justify-content: space-between;
    align-items: center;
}
.Navbar-l{
    font-size: 2rem;
}
.Navbar-r{
    display: flex;
    font-size: 1.1rem;
}
.Navbar-r>div{
    margin-right: 1.5rem;
}

@media only screen and (max-width: 600px) {
    .about, .contact{
        display: none;
    }
    .fav-nav{
        font-size: 1.3rem;
    }
    .Navbar-r>div{
        margin-right: 0rem;
    }
  }