.BlogPosts{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.BlogDashboard{
    background-color: #f7f3ef;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.BlogDashboard-head{
    margin: 1rem 0;
    font-size: 1.7rem;
    font-weight: 600;
}
.fav-earning{
    margin: 1rem 0;
    font-size: 1.7rem;
    font-weight: 600;
}